<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTubeFavorites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <YouTubeFavorites.Properties.Settings>
        <setting name="YOUTUBE_ACCOUNT_CHANNEL" serializeAs="String">
          <value>ACCOUNT_CHANNEL</value>
        </setting>
        <setting name="YOUTUBE_ACCOUNT_USER_NAME" serializeAs="String">
          <value>ACCOUNT_USER_NAME</value>
        </setting>
        <setting name="YOUTUBE_ACCOUNT_PASSWORD" serializeAs="String">
          <value>ACCOUNT_PASSWORD</value>
        </setting>
        <setting name="DATABASE_CONNECTION_STRING" serializeAs="String">
          <value>Data Source=DATA_SOURCE;Initial Catalog=INITIAL_CATALOG;Persist Security Info=True;User ID=USER_ID;Password=PASSWORD</value>
        </setting>
        <setting name="RUN_URL_PREFIX_DEV" serializeAs="String">
          <value>http://localhost:2530/Default.aspx/</value>
        </setting>
        <setting name="RUN_URL_PREFIX_PROD" serializeAs="String">
          <value>http://www.workingweb.info/JimRadio/</value>
        </setting>
        <setting name="BROWSER_CHROME" serializeAs="String">
          <value>chrome</value>
        </setting>
        <setting name="BROWSER_FIREFOX" serializeAs="String">
          <value>firefox</value>
        </setting>
        <setting name="BROWSER_INTERNET_EXPLORER" serializeAs="String">
          <value>iexplore</value>
        </setting>
        <setting name="BROWSER_SAFARI" serializeAs="String">
          <value>safari</value>
        </setting>
        <setting name="BROWSER_OPERA" serializeAs="String">
          <value>opera</value>
        </setting>
        <setting name="YOUTUBE_API_BROWSER_KEY" serializeAs="String">
          <value>YOUTUBE_API_BROWSER_KEY</value>
        </setting>
      </YouTubeFavorites.Properties.Settings>
    </userSettings>
</configuration>